.label{
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 14pt;
}

#titleText{
  -fx-padding: 10;
  -fx-font-size: 24pt;
}
#titleBox{
  -fx-padding: 10;
  -fx-max-width: infinity;
  -fx-alignment: center;
  -fx-border-color: black;
}

#configButtonBox{
  -fx-min-width: 350;
  -fx-pref-width: 350;
  -fx-alignment: center;
  -fx-padding: 10;
  -fx-spacing: 10;
  -fx-border-color: BLACK;
}


#inputPanel {
  -fx-border-color: BLACK;
  -fx-padding: 10;
  -fx-spacing: 10;
}

#infoPanel {
  -fx-border-color: BLACK;
  -fx-padding: 10;
}

#canvasBox {
  -fx-alignment: center;
  -fx-padding: 10;

}

#textArea {
  -fx-text-fill: GREEN;
  -fx-highlight-fill: GREEN;
  -fx-control-inner-background:#000000;
  -fx-font-family: Consolas;
  -fx-font-size: 14pt;
}

#editorArea {
  -fx-font-size: 14pt;
  -fx-font-family: Consolas;
}


#infoPanel {
  -fx-font-size: 14pt;
}

